body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
}

.navbar{
    background-color: #CF0055;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

a.navbar-brand, a.nav-link{
    color: #fff;
    text-decoration: none;
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon{
    border: 1px solid white;
}


/*
    Added style for jumbotron, which bring navbar in middle
    Added hover style, when user scroll, background color change
*/

.jumbotron{
    background-color: #CF0055;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
    height: 350px;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

p1{
    font-size: 17px;
}