body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
}
/*
    NAVBAR
*/
.navbar{
    background-color: #CF0055;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

a.navbar-brand, a.nav-link{
    color: #fff;
    text-decoration: none;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover {
    color: #CF0055 !important;
    background-color: #fff !important;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

.navbar-dark .navbar-toggler-icon{
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
}

/*********************/
/*
    Added style for jumbotron, which bring navbar in middle
    Added hover style, when user scroll, background color change
*/

.jumbotron{
    background-color: #FFC100;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 0px;
    height: 100%;
}

#nameTitle{
    margin-top: 20px;
    font-size: 35px;
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

/*
    SOCIAL MEDIA ICON
*/

.fa {
    padding: 20px;
    font-size: 30px;
    border-radius: 50%;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}


.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}


/**********************/

#aboutMe{
    font-size: 20px;
    font-family: Montserrat, sans-serif;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
}

p1{
    font-size: 17px;
}


#profilePhoto{
    height: 250px;
    width: 230px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

/*
    Container-fluid: color, margin, column, padding
*/

.container-fluid {
    padding: 60px 50px;
}

.firstContainerBackground, .thirdContainerBackground, .fifthContainerBackground{
    background-color: #FCF9F7;
}

.secondContainerBackground{
    background-color: white;
}

/*
    Cards Footer font size h3 h4
*/

h3 {
    font-size: 18px;
    font-family: Montserrat, sans-serif;
}

h4 {
    color: #fff;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: black;
}

h5 {
    color: #aaa;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

.card{
    border-color: #2575fc;
    transition: box-shadow 0.5s;
    margin-bottom: 20px;
}

.card:hover{
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.card-header{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding: 25px;
    color: #fff;
    border-radius: 8px;
    font-family: Montserrat, sans-serif;
}

.btn{
    background-color: #CF0055;
    border-radius: 5px;
    border: none;
    font-family: Montserrat, sans-serif;
}

.btn:hover{
    background-color: #CF0055;
}

/*
    List group Item
*/

.col-sm-4 .list-group{
    border: none;
    transition: box-shadow 0.5s;
    width: 100%;
    font-family: Montserrat, sans-serif;
}

.list-group:hover{
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.list-group-item #icon {
    width: 50px;
    height: 50px;
}

.skillCards{
    width: 100%;
}

/* ---------------------------------------------------
Photograph Gallery CSS Start Here
----------------------------------------------------- */

* {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 5px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 8px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    nav.navbar .navbar-collapse {
        border: 0;
        box-shadow: none;
    }
}

/*
    CONTACT FORM
*/

* {box-sizing: border-box;}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #CF0055;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #CF0055;
}

.contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}

/*
    FOOTER
*/

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #CF0055;
    color: white;
    text-align: center;
    font-family: Montserrat, sans-serif;
}